<!-- Fixed navbar -->
<nav class='navbar navbar-inverse navbar-fixed-top' role='navigation'>
    <div class='container'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' href='{{ url('/') }}'>bioLOGIC Portal</a>
        </div>
        <div id='navbar' class='navbar-collapse collapse'>
            <span class="navbar-text">Welcome {{ authed_user.email }}</span>
            <ul class="nav navbar-nav navbar-right">
                {% if authed_user.isSuperuser() %}
                    <li class="dropdown admin">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Manage
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url('/manage/users') }}">Users</a></li>
                            <li><a href="{{ url('/manage/projects') }}">Projects</a></li>
                            <li><a href="{{ url('/manage/experiments') }}">Experiments</a></li>
                        </ul>
                    </li>
                {% endif %}
                <li><a href='{{ url ('/logout') }}'>Logout</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<br>
<br>
<br>
