<div align = 'center'>
    <h2>
        Background Information for {{ gene_name }}
    </h2>
    <br>
</div>

<div class="gene-background-information">
    <div class='row'>
        <div class='col-sm-6'>
            <a href = 'https://www.ncbi.nlm.nih.gov/pubmed/?term={{ gene_name }}' target='_blank' title='Link to the Pubmed results for this gene' class='btn btn-success btn-lg' role='button'>Pubmed-{{ gene_name }} &raquo;</a>
        </div>

        <div class='col-sm-6'>
            <a href='https://www.genecards.org/cgi-bin/carddisp.pl?gene={{ gene_name }}' target='_blank'  title='Link to genecards for this gene' class='btn btn-success btn-lg' role='button'>Genecards-{{ gene_name }} &raquo;</a>
        </div>

        <div class='col-sm-6'>
            <a href='https://www.gtexportal.org/home/gene/{{ gene_name }}' target='_blank'  title='Link to the Gene Expression Atlas' class='btn btn-success btn-lg' role='button'>GTEx-{{ gene_name }} &raquo;</a>
        </div>

        <div class='col-sm-6'>
            <a href='https://depmap.org/portal/gene/{{ gene_name }}?tab=overview' target='_blank'  title='Depmap results for this gene' class='btn btn-success btn-lg' role='button'>DepMap-{{ gene_name }} &raquo;</a>
        </div>

        <div class='col-sm-6'>
            <a href='https://www.tumorportal.org/view?geneSymbol={{ gene_name }}' target='_blank' title ='Link to tumor data at the Broad institute for this gene.' class='btn btn-success btn-lg' role='button'>Tumorportal-{{ gene_name }} &raquo;</a>
        </div>

        <div class='col-sm-6'>
            <a href='https://www.proteinatlas.org/search/{{ gene_name }}' target='_blank' title ='Link to the human protein atlas for this gene.' class='btn btn-success btn-lg' role='button'>ProteinAtlas-{{ gene_name }} &raquo;</a>
        </div>

        <div class='col-sm-6'>
            <a href='https://hts.crick.ac.uk/db/view/searchResult.php?geneID={{ gene_name }}' target='_blank' title='Link to the CRICK Highthroughput screening facility database' class='btn btn-success btn-lg' role='button'>CRICK HTS RNAi-{{ gene_name }} &raquo;</a>
        </div>

        <div class='col-sm-6'>
            <a href='https://www.ebi.ac.uk/gwas/genes/{{ gene_name }}' target='_blank' title='Link to the EBI Genome Wide Association Study GWAS for this gene' class='btn btn-success btn-lg' role='button'>EBI GWAS-{{ gene_name }} &raquo;</a>
        </div>

    </div>
</div>
<br>
<br>
<br>